.corods1{
    background-color: #e5233d;
}
.corods2{
    background-color: #DDA73A;
}
.corods3{
    background-color: #4CA146;
}
.corods4{
    background-color: #C7212F;
}
.corods5{
    background-color: #EF402D;
}
.corods6{
    background-color: #27BFE6;
}
.corods7{
    background-color: #fbc412;
}
.corods8{
    background-color: #A31C44;
}
.corods9{
    background-color: #F26A2E;
}
.corods10{
    background-color: #DE1768;
}
.corods11{
    background-color: #F89D2A;
}
.corods12{
    background-color: #BF8D2C;
}
.corods13{
    background-color: #407F46;
}
.corods14{
    background-color: #1F97D4;
}
.corods15{
    background-color: #59BA47;
}
.corods16{
    background-color: #136A9F;
}
.corods17{
    background-color: #14496B;
}   
.bricon{
    filter: saturate(0%); 
}