.corods1{
    background-color: #e5233d;
}
.corods2{
    background-color: #DDA73A;
}
.corods3{
    background-color: #4CA146;
}
.corods4{
    background-color: #C7212F;
}
.corods5{
    background-color: #EF402D;
}
.corods6{
    background-color: #27BFE6;
}
.corods7{
    background-color: #fbc412;
}
